.App {
  text-align: center;
  flex: 1;
  padding-top: 2%;
  margin: auto;
}

.sep {
   width: 80%;
   opacity: 30%;
   color: dimgray;
}

.file_input {
   background-color: antiquewhite;
}

.submit_button {
   flex: 1;
   margin: 'auto';
}

.dropzone_content {
   text-align: center;
}

.dropzone_input {
   border-radius: 5px;
   border-style: dashed;
   height: 20%;
   width: 80%;
}